body {
    margin: 0;
    font-family: "Georgia", serif;
    background-color: #fff5f9;
}

.cabecalho {
    background: #d4d1d1b0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

nav {
    display: flex;
    margin-right: 1%;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

nav a:first-child {
    color: #f06e9b;
}

.a_atual::after {
    content: "";
    background-color: #ee80a1;
    display: block;
    width: 100%;
    height: 5px;
}

nav a::after {
    content: "";
    background-color: #f4a4bc;
    display: block;
    width: 100%;
    height: 5px;
    display: none;
    animation: animaCabecalho 1s ease;
}

@keyframes animaCabecalho {
    from {
        width: 10%;
    }

    to {
        width: 100%;
    }
}

nav a:hover::after {
    display: block;
}

.top-section {
    display: flex;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 400px;
}

.top-text {
    padding: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 26px;
}

.top-text span {
    display: block;
    margin: 10px 0;
}

.top-image {
    flex: 1;
    background: url("C:\Users\maria\OneDrive - SPTech School\Projeto Individual\Ballet\public\img\swan.png") no-repeat center center;
    background-size: cover;
}

.intro {
    background-color: #fff0f5;
    padding: 40px 60px;
    color: #f18397;
    display: flex;
    align-items: center;
    /* alinha verticalmente */
    justify-content: space-between;
    /* separa os elementos */
    gap: 20px;
    /* espaço entre texto e decoração */
}

.intro-texto h2 {
    font-size: 28px;
    margin-bottom: 10px;
    margin: 1vwh;
}

.intro-texto p {
    color: black;
    font-size: 18px;
    margin-top: 30px;
    max-width: 700px;
}

.decoration {
    border-left: 3px solid #f4a4bc;
    border-top: 3px solid #f4a4bc;
    padding: 5%;
    border-radius: 15px;
    height: 150px;
    width: 150px;
    min-width: 120px;
    box-sizing: border-box;
}

.decoration img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

.default-footer {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 14px;
    color: #555;
}

.name-default-footer {
    color: #e0668c;
    font-weight: bold;
    text-decoration: none;
}

.name-default-footer:hover {
    text-decoration: underline;
}

@media (max-width: 500px) {
    body.login-body {
        align-items: center;
        padding: 0 20px;
    }

    .default-footer {
        position: static;
        margin-top: 30px;
        text-align: center;
    }
}