body {
    margin: 0;
    font-family: "Georgia", serif;
    background-color: #ffd4dc;
    /* Ajustado para combinar */
    overflow-x: hidden;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Cabeçalho */
.cabecalho {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

nav {
    display: flex;
    gap: 20px;
    margin-right: 2%;
}

nav a {
    position: relative;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

nav a:nth-child(3) {
    color: #f06e9b;
}

nav a::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #f4a4bc;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

nav a:hover::after,
.a_atual::after {
    transform: scaleX(1);
    background-color: #ee80a1;
}

/* Conteúdo principal */


.divpai {
    text-align: center;
}

.quiz-page-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 100px;
}

.quiz-page-container {
    margin-top: 3rem;
    padding: 40px 30px;
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.titulo-container {
    color: #e05282;
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.quiz-texto-descricao {
    color: #444;
    font-size: 1.3rem;
    margin: 1rem 0 2rem;
    line-height: 1.5;
}

/* Botão de início */
.quiz-page-button-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.quiz-button-start {
    height: auto;
    padding: 14px 24px;
    border-radius: 12px;
    font-size: 1.2rem;
    background-color: #fdc6d9;
    color: #333;
    font-weight: 600;
    border: 1px solid #ddd;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.quiz-button-start:hover {
    background-color: #f06e9b;
    color: white;
    transform: translateY(-2px);
}

.default-footer {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 14px;
    color: #555;
}

.name-default-footer {
    color: #e0668c;
    font-weight: bold;
    text-decoration: none;
}

.name-default-footer:hover {
    text-decoration: underline;
}

@media (max-width: 500px) {
    body.login-body {
        align-items: center;
        padding: 0 20px;
    }

    .default-footer {
        position: static;
        margin-top: 30px;
        text-align: center;
    }
}